html, body
{
    height: 100%;
    width: 100%;
   	margin: 0;
   	background-color: #0d2836;
}

#amazing-header
{
	background-color: #bcd483;
    position: fixed;
    height: 102px;
	width: 100%;
	font-family: 'Viga', sans-serif;
}

#amazing-header h1
{
	position: relative;
	left: 110px;
	top: 8px;
	font-weight: 900;
	font-size: 450%;
}

#dog-footprint
{
	position: fixed;
	height: 90px;
	width: 100px;
	top: 4px;
}

#amazing-title
{
	color: white;
}

#explorer-title
{
	color: #102029;
}

#amazing-title, #explorer-title
{
	
}

#header-stripe-1, #header-stripe-2, #header-stripe-3, #header-stripe-4, #header-stripe-5
{
	float: left;
	height: 20px;
	width: 20%;	
}

#header-stripe-1
{
	background-color: #102029;
}

#header-stripe-2
{
	background-color: #95ab63;	
}

#header-stripe-3
{
	background-color: #bcd483;
}

#header-stripe-4
{
	background-color: #e3f0d8;	
}

#header-stripe-5
{
	background-color: #f6ffe0;
}

